@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

  
body{
    width: 1440px;
    height: 1024px;
    top: -513px;
    left: -720px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}  

.heading-1{
    width: 447px;
    height: 156px;
    top: 28px;
    left: 489px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    margin: auto;
    margin-top: 28px;


}
.hr-1{
    width: 1381px;
    top: 232px;
    left: 29px;
    border: 1px;
    border: 1px solid #000000;
    margin-top: 48px;
}
.ins-1{
    width: 193px;
    height: 15px;
    top: 274px;
    left: 29px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 42px;
    margin-left: 29px;
    display: block;
}
.ins-2{
    width: 141px;
    height: 15px;
    top: 319px;
    left: 29px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    margin-left: 29px;
    display: block;
}
.ins-3{
    width: 105px;
    height: 15px;
    top: 364px;
    left: 29px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    margin-left: 29px;
    display: block;
}
.ins-4{
    width: 373px;
    height: 15px;
    top: 409px;
    left: 29px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    margin-left: 29px;
    display: block;
}
.ins-5{
    width: 231px;
    height: 15px;
    top: 454px;
    left: 29px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    margin-left: 29px;
    display: block;
}
.ins-6{
    width: 129px;
    height: 15px;
    top: 499px;
    left: 29px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    margin-left: 29px;
    display: block;
}
.hr-2{
    width: 1381px;
    top: 232px;
    left: 29px;
    border: 1px;
    border: 1px solid #000000;
    margin-top: 98px;
}
.heading-2{
    width: 102px;
    height: 39px;
    top: 629px;
    left: 645px;
    font-family: 'Inter' sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    margin: auto;
    margin-top: 17px;
}
.p-1{
    width: 906px;
    height: 15px;
    top: 684px;
    left: 267px;
    font-family: 'Inter' sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-align: center;
    margin-top: 16px;
    margin: auto;
}
.hr-3{
    width: 1381px;
    top: 723px;
    left: 26px;
    border: 1px;
    border: 1px solid #000000;
    margin-top: 24px;
}
.p-2{
    width: 1196px;
    height: 15px;
    top: 753px;
    left: 26px;
    font-family: 'Inter' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
}
.hr-4{
    width: 1381px;
    top: 781px;
    left: 26px;
    border: 1px;
    border: 1px solid #000000;
    margin-top: 13px;
}
.ins-last{
    width: 93px;
    height: 15px;
    top: 811px;
    left: 26px;
    font-family: 'Inter' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;
    margin-left: 26px;
    cursor: pointer;
    color: #000;
}
u{
    cursor: pointer;
    color: #000;
}

.footer-p{
    width: 276px;
    height: 15px;
    top: 850px;
    left: 26px;
    font-family: 'Inter' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 24px;
    margin-left: 26px;
}
.strong-title{
    text-align: center;
    margin: auto;
    display: block;
}
blockquote {   
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
font{
    font-size: small;
}